#article-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

#article-date {
    margin: 0 auto;
    opacity: 0.4;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin-top: 80px;
}

#article-header {
    opacity: 0.9;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

#article-content {
    width: 70%;
    max-width: 750px;
}

#margin-content p{
    margin-bottom: 50px;
}

#article-category {
    opacity: 0.4;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 80px;
}

#article-content hr {
    opacity: 0.3;
    background-color: #979797;
    height: 1px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#article-content p {
    opacity: 0.6;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 20px;
    line-height: 30px;
}

#article-user {
    min-height: 130px;
    margin-bottom: 60px;
    margin-top: 70px;

}

#article-utext {
    padding-left: 39%;
    display: inline;
}

#article-utext #article-uname {
    color: #000000;
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin: 0px;
    margin-bottom: 8px;
    opacity: 1;
}

#article-utext #article-udes {
    opacity: 0.4;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 20px;
    line-height: 29px;
}

#article-user #article-avatar {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    float: left;
    margin-right: 10%;
}

#article-coments {
    height: 60px;
    width: 221px;
    border: 1px solid #DEDEDE;
    margin: 0 auto;
    margin-bottom: 80px;
    cursor: pointer;
}

#article-coments p {
    color: #7F7F7F;
    font-family: "Century Gothic";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 6%;
}

#article-coments p i {
    opacity: 0.5;
    font-size: 12px;
    color: black;
}

.sharify-btn-twitter{
    height: 55px;
    width: 170px;
}
.sharify-btn-twitter .sharify-icon{
    float: left;
    padding-left: 45%;
    padding-top: 6%;
    font-size: 23px;
    color: white;
}

.sharify-btn-twitter .sharify-count{
    display: block;	padding-right: 10px;
    float: right;
}

.sharify-btn-facebook .sharify-icon{
    float: left;
    padding-left: 47%;
    padding-top: 6%;
    font-size: 23px;
    color: white;
}

.sharify-btn-linkedin{
    min-width: 10%;
}

.sharify-btn-linkedin .sharify-icon{
    float: none;
    text-align: center;	padding-left: 0px;
    padding-top: 6%;
    font-size: 23px;
    display: block;
    color: white;
}


.sharify-btn-linkedin .sharify-count{
    display: none;
    padding-right: 10px;
    float: right;
}

.sharify-btn-linkedin .sharify-title{
    display: none;
}

.sharify-btn-email{
    min-width: 10%;
}

.sharify-btn-email .sharify-icon{
    float: none;
    text-align: center;
    padding-left: 0px;
    padding-top: 6%;
    display: block;
    font-size: 23px;
    color: white;
}


.sharify-btn-email .sharify-count{
    display: none;
    padding-right: 10px;
    float: right;
}

.sharify-btn-email .sharify-title{
    display: none;
}

.sharify-container li{
    font-family: Roboto Condensed, sans-serif;}

.sharify-icon{
    font-size: 13px;
    line-height: 35px;
}

.sharify-container li .count{
    background-color: transparent !important;
}

.sharify-btn-wa{
    display: none;
}
.ismobilewa{
    display: block !important;
}
.sharify-container{position:relative;display:block;width:100%;overflow:hidden}
.sharify-container ul{padding:0;margin:0}
.sharify-container li{list-style:none;height:55px;width:170px;line-height:36px;float:left;padding-left:2.5px}
.sharify-container li a{border:0;background-color:#00ABF0;border-radius:3px;display:block;font-size:15px;line-height:37px;height:100%;color:#fff;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;width:100%;transition:all .2s ease-in-out}
.sharify-count{float:right}
.sharify-container li.sharify-btn-twitter a{background-color: #00ABF0;}
.sharify-container li.sharify-btn-twitter a:hover{background-color:#3498db}
.sharify-container li.sharify-btn-facebook a{background-color:#5970A6;}
.sharify-container li.sharify-btn-facebook a:hover{background-color:#2E3F65;}
.sharify-container li.sharify-btn-linkedin a{background-color: #127BB6;}
.sharify-container li.sharify-btn-linkedin a:hover{background-color:#124866;}
.sharify-container li.sharify-btn-email a{background-color:#191919;}
.sharify-container li.sharify-btn-email a:hover{background-color: #363333;);}
.sharify-container li{margin-bottom: 5px !important;}

.sharify-container li {
    width: 170px;
    border-radius: 3px;
    padding: 0px;
}

#social-list {
    width: 100%;
    margin: 0 auto;
}

.margines {
    margin-right: 23px;
}

.mc4wp-form-fields {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.mc4wp-form-fields label {
    color: #000000;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    margin: 0;
}

.mc4wp-form-fields p {
    opacity: 0.4;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 34%;
    margin: 0 auto;
    max-width: 379px;
}

#article-mail {
    width: 57%;
    max-width: 481px;
    margin: 0 auto;
    margin-top: 3%;
}

#article-mail #mail {
    height: 60px;
    width: 72%;
    border: 1px solid #979797;
    opacity: 0.3;
    display: inline-block;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 18px;
    line-height: 22px;
    border-radius: 3px 0px 0px 3px;
    max-width: 288px;
}

#article-mail #send {
    height: 60px;
    width: 14%;
    border-radius: 0 3px 3px 0;
    background-color: #000000;
    position: absolute;
    color: #FFFFFF;
    font-family: "Century Gothic";
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    padding: 0;
    max-width: 180px;
}



.yuzo-img {
    background-size: 100% !important;
}

.yuzo__text--title {
    opacity: 0.9;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

#related-header {
    color: #000000;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
}

.yuzo_related_post {
    margin: 0 !important;
    padding: 0 !important;
}

.yuzo__title {
    margin-top: 0 !important;
    margin-bottom: 60px !important;
}

.yuzo_related_post .relatedthumb {
    text-align: center;
}

#related-img {
    object-fit: cover;
}

.relatedthumb:nth-child(even) {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.relatedthumb {
    max-width: 350px;
    width: 29% !important;
    padding: 0 !important;
}

.yuzo_wraps {
    max-width: 1213px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

a .related-date {
    margin-top: 25px !important;
    margin-bottom: 20px !important;
}

#article-hr {
    background-color: #DFDFDF;
    margin-top: 80px;
    margin-bottom: 80px;
}

.yuzo_wraps:first-child .relatedthumb{
    margin-left: 2% !important;
}

#colophon {
    margin-top: 0px;
}

@media screen and ( max-width: 782px ) {

    .yuzo_wraps {
        display: block;
    }

    #article-content hr {
        margin-bottom: 50px;
    }

    #article-date {
        margin-top: 40px;
    }

    #article-header {
        margin-top: 35px;
    }

    #article-mobile-send {
        display: block !important;
    }

    .relatedthumb:nth-child(even) {
        margin: 0 auto !important;
    }

    #article-laptop-send {
        display: none;
    }

    #colophon {
        display: none;
    }

    .yuzo_wraps {
        max-width: 1213px;
        width: 100%;
        margin: 0 auto;
    }

    .relatedthumb {
        max-width: 350px;
        width: 88% !important;
        padding: 0 !important;
        margin: 0 auto !important;
        margin-top: 0% !important;
        margin-bottom: 50px !important;
        float: none !important;
    }

    #related-img {
        height: 318px !important;
    }

    .site-footer .widget-area {
        width: 90%;
    }

    .widget-column.footer-widget-2{
        text-align: left;
    }
    .mc4wp-form-fields {
        width: 100%;
        margin-bottom: 80px;
    }

    .mc4wp-form-fields p {
        width: 75%;
    }

    #article-mail {
        width: 90%;
    }

    #article-mail #mail {
        width: 100%;
        border-radius: 3px;
        margin: 0 auto;
        display: block;
    }

    #article-mail #send {
        width: 60%;
        border-radius: 3px;
        background-color: #000000;
        position: relative;
        display: block;
        line-height: 22px;
        text-align: center;
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 9%;
    }

    #article-user {
        margin-top: 55px;
    }

    .yuzo_related_post {
        margin-top: 50px !important;
    }

    #article-user #article-avatar {
        float: none;
        margin: 0 auto;
        display: block;
        margin-bottom: 55px;
    }

    #article-utext #article-udes {
        text-align: center;
    }

    #article-utext #article-uname {
        text-align: center;
    }

    #article-utext {
        padding-left: 0%;
    }

    #article-content {
        width: 100%;
    }

    article {
        width: 93%;
        margin: 0 auto;
    }

    .article-prim {
        max-width: 100% !important;
    }

    #article-coments {
        display: none;
    }

    #comments {
        display: none;
    }

    .sharify-container li {
        width: 142px;
    }

    #social-list {
        max-width: 296px;
        width: 100%;
        margin: 0 auto;
    }

    #colophon {
        display: none;
    }

    #article-hr {
        display: none;
    }

    .margines {
        margin-right: 0px;
    }

    .sharify-container li {
        margin: 3px;
    }

    .sharify-container li a {
        border-radius: 0px;
    }
}

@media screen and ( max-width: 1218px ) and (min-width: 783px) {
    .relatedthumb:nth-child(even) {
        margin-left: 3% !important;
        margin-right: 3% !important;
    }
}

@media screen and ( max-width: 1215px ) and (min-width: 783px) {
    .site-footer .widget-area {
        width: 70%;
    }
    .clearfix {
        display: block !important;
    }

    #social-list {
        max-width: 388px;
        width: 100%;
        margin: 0 auto;
    }

    .relatedthumb {
        max-width: 350px;
        width: 30% !important;
        padding: 0 !important;
    }

    #related-img {
        height: 377px !important;
    }

    .margines {
        margin-right: 0px;
    }

    .sharify-container li {
        margin: 12px;

    }

}